<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>concert form</title>
</head>
<body>
    <form action = "{% url 'create' %}" method="POST" name="concert_form"> 
        {% csrf_token %} <!--보안문제 해결-->
        <div>
            <label for="introduce">공연 소개: </label><br/>
            <textarea name="introduce" id="introduce" cols="30" rows="10"></textarea>
        </div><br>

        <div>공연 날짜: <input type="date" name="date" id="date"></div><br>
        <div>공연 시간: <input type="time" name="time" id="time"></div><br>

        <div>
            <label for="place">공연 장소 주소: </label>
            <input type="text" name="place" id="place">
        </div><br>
        
        <div id = "search_map" style = "width:500px; height: 400px;"></div><br>

        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
        <input type="submit" value="공연 등록">
    </form>
    
    
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8692f5c3c759c152297171d014cffebe&libraries=services"></script>        
    <script>
        var mapContainer = document.getElementById('search_map'), // 지도를 표시할 div 
            mapOption = {
            center: new kakao.maps.LatLng(37.55534870467689, 126.93710965061135), // 지도의 중심좌표: 신촌역
            level: 1 // 지도의 확대 레벨
        };    
        var search_map = new kakao.maps.Map(mapContainer, mapOption); 

        var search_marker = new kakao.maps.Marker(),
        infowindow = new kakao.maps.InfoWindow({zindex:1});

        // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 인포윈도우와 마커로 표시(사용자 편의) + 위도경도 좌표 반환(이후 전체 지도 표시 목적)
        kakao.maps.event.addListener(search_map, 'click', function(mouseEvent) {

            // 클릭 지점 위도경도 반환 -> form에 넣기
            var latlng = mouseEvent.latLng;
            var concert_form = document.concert_form;
            concert_form.latitude.value = latlng.getLat();
            concert_form.longitude.value = latlng.getLng();

            // 주소정보 인포윈도우 + 마커
            searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                    detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                    var content = '<div class="bAddr">' +
                                    '<span class="title">법정동 주소정보</span>' + 
                                    detailAddr + 
                                '</div>';

                    // 마커를 클릭한 위치에 표시
                    search_marker.setPosition(mouseEvent.latLng);
                    search_marker.setMap(search_map);

                    // 인포윈도우에 클릭한 위치에 대한 주소정보를 표시
                    infowindow.setContent(content);
                    infowindow.open(search_map, search_marker);
                }   
            });            
        });

        function searchAddrFromCoords(coords, callback) {
            // 좌표로 행정동 주소 정보를 요청합니다
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
        }

        function searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }

            // // 1. position에서 입력한 주소를 위도 경도 값으로 변환해 서버에 보내기 
            // var concert_form = document.concert_form;
            // var position = concert_form.position.value;

            // // 주소-좌표 변환 객체 생성
            // var geocoder = new kakao.maps.services.Geocoder();

            // // 주소 검색-정확한 주소여야 한다 
            // geocoder.addressSearch(position, function(result, status) {
            
            //  // 정상적으로 검색이 완료됐으면 
            //  if (status === kakao.maps.services.Status.OK) {
            //     var latitude = result[0].y;
            //     var longitude = result[0].x;
            //     // var coords = new kakao.maps.LatLng(result[0].y, result[0].x); // 위도 경도 좌표 
            //     concert_form.latitude.value = latitude;
            //     concert_form.longitude.value = longitude;
            // } 
            // }); 
        
            
        
        
    </script>
</body>
</html>