<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href = "{% url 'concert_form' %}">공연 등록</a>

    <h1>홈 화면 지도: 즐겨찾기 + 일반 공연 </h1>
    <!--지도 담을 영역 지정-->
	<div id="home_map" style="width:500px;height:400px;"></div>
    <hr>
	<!--api 및 라이브러리(services) 불러오기-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8692f5c3c759c152297171d014cffebe"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8692f5c3c759c152297171d014cffebe&libraries=services"></script>
    <div id = "inform_list"></div>
    
    <script>
        // 지도 생성 및 영역에 담기
		var container = document.getElementById('home_map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var home_map = new kakao.maps.Map(container, options);
    </script>
</body>
</html>