<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href = "{% url 'concert_form' %}">공연 등록</a>

    <h1>홈 화면 지도: 즐겨찾기 + 일반 공연 </h1>
    <!--지도 담을 영역 지정-->
	<div id="home_map" style="width:500px;height:400px;"></div>
    <hr>
	<!--api 및 라이브러리(services) 불러오기-->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8692f5c3c759c152297171d014cffebe&libraries=services"></script>
    
    <p>오늘 공연정보</p>
    <!--공연 정보 리스트를 담을 곳-->
    <section id = "inform_list"> 
    </section>

    <a href="{% url 'login_home' %}">로그인 후 홈화면</a>
    
    <script>
        // 지도 생성 및 영역에 담기
		var container = document.getElementById('home_map');
		var options = {
			center: new kakao.maps.LatLng(37.55534870467689, 126.93710965061135),
			level: 3,
            draggable: false
		};

		var home_map = new kakao.maps.Map(container, options);

        // 공연 장소 정보 
        let concerts = [
            {% for concert in concerts %}
            {
                introduce: "{{ concert.introduce }}",
                time: "{{ concert.time }}",
                date: "{{ concert.date }}",
                latitude: "{{ concert.latitude }}",
                longitude: "{{ concert.longitude }}"
            },
            {% endfor %}
        ]; 
        
        var geocoder = new kakao.maps.services.Geocoder();

        // 공연 정보 표시 
        for (var i = 0; i < concerts.length; i++){
            var inform_list = document.getElementById("inform_list");
            var concert_inform = document.createElement('div');
            concert_inform.setAttribute('id', concerts[i].introduce);
            
            // 가수, 가수 프로필 사진 추가 필요 
            // 공연 시간 정보 출력
            var title_time = document.createElement('div');
            title_time.setAttribute('class', 'concert_title_time');
            title_time.innerText += concerts[i].time; // 가수 이름 추가  
            
            // 공연 주소 출력 
            // 위치 옮기기 
            var callback = function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var address = document.createElement('div');
                    address.setAttribute('class', 'concert_address');
                    address.innerText += result[0].address.address_name;
                    concert_inform.appendChild(address);
            }};
            geocoder.coord2Address(Number(concerts[i].longitude), Number(concerts[i].latitude), callback);

            // 공연 소개 출력
            var introduce = document.createElement('div');
            introduce.setAttribute('class', 'concert_introduce'); 
            introduce.innerText += concerts[i].introduce;

            concert_inform.appendChild(title_time);
            concert_inform.appendChild(introduce);
            inform_list.appendChild(concert_inform);
        }


        // 지도에 마커 생성
        for (var i = 0; i < concerts.length; i ++) {
            // 위도 경도 객체 생성 
            latlng = new kakao.maps.LatLng(Number(concerts[i].latitude), Number(concerts[i].longitude));
            
            // 마커를 생성
            var marker = new kakao.maps.Marker({
            map: home_map, // 마커를 표시할 지도
            position: latlng, // 마커를 표시할 위치
         });
        }

    </script>
</body>
</html>